.contenedor-header {
    background: rgba(45, 121, 117, 0.839);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    height: 80px;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  }
  
  .contenedor-header header {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    height: 80px;
  }
  
  .contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
  }
  
  /* Contenedor header*/
  header {
    width: 100%;
    height: 80px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
  /* Logotipo*/
  .logo,
  .logo img {
    height: 70px;
  }
  
  /* Logotipo:hover*/
  .logo,
  .logo img:hover {
    cursor: pointer;
  }
  
  /* texto boton contratame*/
  .aa {
    font-size: 500px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Boton contratame*/
  .hireMe__button a {
    background-color: #1b6153cd;
    color: black;
    padding: 1rem 1.5rem;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: #ffffff;
    border-width: 0;
    border-radius: 10px;
  }