<div class="footerr">
    <div class="content-contact">
        <div class="item__contact item__contact--gold1">
            <i class="fa-solid fa-copyright"></i>
            <h3 class="contact__title">Jhair | WebSite</h3>
        </div>

        <div class="item__contact">
            <i class="fa-solid fa-envelopes-bulk"></i>
            <h3 class="contact__title">jhair2003unamba@gmail.com</h3>
        </div>

        <div class="item__contact">
            <i class="fa-solid fa-phone-volume"></i>
            <h3 class="contact__title">+51 983 805 438</h3>
        </div>

        <div class="item__contact item__contact--gold">
            <div class="contenedor-icono">
                <a href="https://mail.google.com/mail/u/1/#inbox" target="_blank" class="gmail">
                  <i class="fa-regular fa-envelope"></i>
                </a>
            </div>

            <div class="contenedor-icono">
                <a href="https://www.facebook.com/JheysonJhair.AroneAngeles.2003/" target="_blank" class="facebook">
                  <i class="fa-brands fa-facebook"></i>
                </a>
            </div>

            <div class="contenedor-icono">
                <a href="https://www.instagram.com/jheyson_jhair2003/" target="_blank" class="instagram">
                  <i class="fa-brands fa-instagram"></i>
                </a>
            </div>

            <div class="contenedor-icono">
                <a href="https://www.youtube.com/" target="_blank" class="youtube">
                  <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>
