.footerr {
    width: 100%;
    position: relative;
    bottom: 0;

}

/*contenedor de contactos*/
.content-contact {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: rgb(13, 7, 82);
}

/* Items contacto*/
.item__contact {
  padding: 10px;
    width: 25%;
    text-align: center;
    background: rgb(13, 7, 82);
}

/* Items titulo*/
.contact__title {
    font-size: 13px;
    line-height: 20px;
}

/*Contenedor enlaces FB Instagram Youtube */
.footerr .item__contact--gold {
    display: flex;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.956);

}
i{
  color: #fff;
}
/* Contenedor enlaces FB Instagram Youtube*/
.item__contact--gold i {

    color: #fff;

}

.contenedor-icono {
  margin: 5px 10px 10px 0px;
  font-size: 19px;
}

.contenedor-icono:last-child {
  margin-right: 0;
}
/* Contenedor iconos hover*/
.contenedor-icono:hover a {
    animation: icono .5s ease;
}

@keyframes icono {
    from {
        transform: rotate3d(0, 0, 0, 0);
    }

    to {
        transform: rotate3d(0, .5, 0, 360deg);
    }
}

/* iconos a*/
.item__contact--gold a {
    display: block;
    transition: .3s ease all;
}

@media screen and (max-width: 768px) {

    /* Ajusta el valor de 768px según tus necesidades */
    .content-contact {
        display: block;
    }

    .item__contact {
        border-bottom: 1px solid #cccccc92;
        width: 100%;
    }
}
h3{
    color: #fff;
}
