<div class="container">
  <form>
    <div class="b">
      <input placeholder="buscar articulo" type="text" />
      <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="te">
      Si estás interesado en explorar más sobre mis capacidades y
      características, te invito a visitar nuestra página web. Allí encontrarás
      información detallada sobre nuestras funciones, opciones de
      personalización y mucho más. ¡Espero que encuentres todo lo que buscas! No
      dudes en contactarnos si tienes alguna pregunta o necesitas asistencia
      adicional. ¡Disfruta de tu experiencia musical con Jhair! Saludos,
    </div>
    <div>
      <label for="mail">Correo electronico</label>
      <input for="mail" type="email" />
      al pulsar este boton acepta los terminos y condiciones de Jhair
      <button>Enviar</button>
    </div>
  </form>
</div>
