<div class="container">
  <form>
    <div class="b">
      <input placeholder="BUSCAR VIDEO  " type="text" />
      <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="te">
      Si estás interesado en explorar más sobre mis capacidades y
      características, te invito a visitar nuestra página web. Allí encontrarás
      información detallada sobre nuestras funciones, opciones de
      personalización y mucho más. ¡Espero que encuentres todo lo que buscas! No
      dudes en contactarnos si tienes alguna pregunta o necesitas asistencia
      adicional. ¡Disfruta de tu experiencia musical con Jhair! Saludos,
    </div>
    <div>
      <div class="b">
        <label class="ng" for="mail">Correo electrónico</label>
        <input for="mail" placeholder="anonimo@gmail.com" type="email" />
      </div>
      <button class="btn-primary">Enviar</button>
      <p> Al pulsar este botón <a href="">acepta los terminos y condiciones.</a></p>
    </div>
  </form>
</div>
