* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Belanosima', sans-serif;
  font-family: 'Krub', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Ubuntu', sans-serif;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: .3s ease all;
  background-color: rgb(229, 229, 229);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.redFocus:focus {
  border: 2px solid #FF5049 !important;
}

.red {
  color: #FF5049;
}
